---
---

@import "{{ site.theme }}";

body {
  background: #093f3c;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #0dafb9;
}

.note {
  background: rgba(13, 175, 185, .2);
  border-left: 5px solid #093f3c;
  padding-left: 5px;
}

.warning {
  background: #fcf8e3;
  border-left: 5px solid #f0ad4e;
  padding-left: 5px;
}

.warning h3, .warning a {
  color: #f0ad4e;
}

#header_wrap {
  background: #093f3c;
  background: -moz-linear-gradient(top, #1f5552, #093f3c);
  background: -webkit-linear-gradient(top, #1f5552, #093f3c);
  background: -ms-linear-gradient(top, #1f5552, #093f3c);
  background: -o-linear-gradient(top, #1f5552, #093f3c);
  background: linear-gradient(to top, #1f5552, #093f3c);
}

#main_content_wrap {
  flex-grow: 1;
}

#footer_wrap {
  background: #093f3c;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  font-weight: bold;
}

nav a.selected {
  text-decoration: underline;
}
